<a href="https://colab.research.google.com/github/RRT3333/Automated-Student-selfDiagnosis/blob/master/_02_Basic_Python_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lists, tuples, dictionary**

* 이 수업 자료는 python을 처음 시작하는 사람들을 위해 제작되었다.

* python에 대한 자세한 내용은 official Python tutorial (https://docs.python.org/3/tutorial/index.html) 을 참고하기 바란다.
* 이 저작물은 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스</a>에 따라 이용할 수 있다.

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>

# 목록(Lists), 튜플(tuples), 사전(dictionary)

목록, 사전, 그리고 튜플은 모두 비슷한 기능과 사용법을 제공하지만, 각각은 언어에서의 자신만의 쓰임새를 가지고 있습니다. 각각은 모두 특정한 상황에서 중요한 역할을 한며, 튜플을 제외한 모든 컨테이너들은 변경 가능한 개체이므로, 생성된 이후에 조작을 할 수 있다.

##List (목록)

* 파이썬 프로그래밍 언어 내에서 가장 많이 쓰이는 구조는 바로 목록(list) 이다. 

* Python의 목록은 정적 유형 언어에서 제공하는 유사한 구조들에 비해 장점이 크며, 파이썬 언어의 동적인 경향은 목록으로 하여금 서로 다른 유형의 값들을 담을 수 있는 기능을 구축할 수 있다. 다시 말해 목록은 어떠한 파이썬 자료형이라도 저장하는데 쓰일 수 있으며, 단일한 목록 내에 이러한 유형을 섞을 수도 있다. 

* 파이썬 언어에서는 목록의 생성과 사용이 매우 단순하며 쉽다. 그저 빈 대괄호 한 쌍을 변수에 할당하면 빈 목록이 생성되며, 내장된 list() 함수를 사용하여 목록을 생성할 수도 있다. 

* 목록은 애플리케이션을 수행하는 중에 생성 및 수정할 수 있으며, 고정된 길이가 없고, 특정 항목을 정해진 위치에 배치하거나 삭제하고자 할 때는 인덱스를 사용할 수도 있다.

In [ ]:
my_list = []   # 빈 목록을 정의
print(my_list)
print(type(my_list))

[]
<class 'list'>

In [ ]:
my_list = [1]   # 하나의 원소를 가진 목록
my_list         # 번역기에서 변수를 출력하기 위해서 print를 사용할 필요가 없다

[1]

In [ ]:
my_string_list = ['Hello', 'Jython' ,'Lists']  # 문자열 값의 목록을 정의
print (my_string_list)
multi_list = [1, 2, 'three', 4, 'five', 'six']  # 복수의 자료형을 포함하는 목록을 정의
print (multi_list)
combo_list = [1, my_string_list, multi_list]   # 목록을 포함하는 목록을 정의
print (combo_list)
my_new_list = ['new_item1', 'new_item2', [1, 2, 3, 4], 'new_item3']   # 목록을 포함하는 목록을 한 줄로 정의
print (my_new_list)

['Hello', 'Jython', 'Lists']
[1, 2, 'three', 4, 'five', 'six']
[1, ['Hello', 'Jython', 'Lists'], [1, 2, 'three', 4, 'five', 'six']]
['new_item1', 'new_item2', [1, 2, 3, 4], 'new_item3']

* 목록에서 값을 얻기 위해 인덱스를 사용할 수 있습니다. 목록으로부터 범위나 값의 집합을 얻고자 한다면, 시작 인덱스 및 끝 인덱스를 지정할 수 있다. 

* 이러한 기법은 썰기 (slicing)라고 알려져 있는데, 목록을 썰면, 항상 새로운 목록이 반환된다는 점에 유의하고, 썰기 구문을 쓸 때 상한이나 하한을 지정하지 않으면 목록을 복사할 수 있다. 

* 하한의 기본값은 0이며, 상한의 기본값은 목록의 길이가 된다. 부가적으로, 단계 인덱스를 제공함으로써 목록으로부터 값을 띄엄띄엄 모은 집합을 반환할 수도 있으며, 기억해야할 열쇠는 인덱스를 통해 목록에 접근할 때에는, 목록에 저장된 첫 원소의 인덱스는 0이라는 것이다.

In [ ]:
my_string_list = ['Hello', 'Jython', 'Lists'] 
print(len(my_string_list))
print(my_string_list[1])  # 목록에서 원소를 얻기

3
Jython

In [ ]:
my_string_list[3]

IndexError: ignored

In [ ]:
my_string_list[-1]  # 음수 인덱스는 목록의 마지막 원소에서 시작하여 첫 항목 쪽으로 거슬러 감

'Lists'

In [ ]:
my_string_list[-4]

IndexError: ignored

In [ ]:
my_string_list[0:2] # 썰기(썰기는 시작 인덱스의 원소는 포함하고 끝 인덱스의 원소는 제외한다는 점에 유의)

['Hello', 'Jython']

In [ ]:
my_string_list_copy = my_string_list[:]   # 썰기를 통해 목록의 얕은 사본을 생성
my_string_list_copy

['Hello', 'Jython', 'Lists']

In [ ]:
new_list=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
new_list[0:10:1]  # 썰기에서 세번째 인자를 사용하면 건너뛰기가 됨, 이 예제는 한 칸 씩 이동(step)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
new_list[0:10:2] # 그리고 여기서는 두 칸 씩 이동

[2, 6, 10, 14, 18]

In [ ]:
new_list[::2]    # 시작 인덱스를 비워두면 기본값이 0을 지정한 것과 같이 동작하며, 끝 인덱스에 대해서는 목록의 길이가 기본값임

[2, 6, 10, 14, 18]

목록의 끝에 항목을 추가하기 위해 append() 메소드를 사용할 수 있다. extend() 메소드는 목록의 끝에 목록이나 순서 전체의 사본을 추가할 수 있도록 해준다. 마지막으로, insert() 메소드는 한 항목이나 다른 목록을 기존 목록의 특정한 위치에 인덱스를 활용하여 배치할 수 있도록 해준다. 기존의 목록에 다른 목록이 삽입되면 그것은 원본 목록과 결합되는 것이 아니라, 원본 목록 내에 들어있는 독립된 항목이 된다. 

마찬가지로, 우리는 목록에서 항목을 제거하기 위한 많은 옵션이 있다. del 문이, 인덱스 표기법을 통해 목록으로부터 전체 목록 또는 값들을 제거 또는 삭제하는데 쓰일 수 있다. 또한 목록에서 단일 값을 제거하는 pop() 또는 remove() 메소드를 사용할 수 있다. pop() 메소드는 목록의 끝에서 단일 값을 제거하며, 또한 동시에 그 값을 반환한다. pop()에 인덱스가 인자로 주어지면, 해당 위치에 있는 값을 제거 및 반환한다. remove() 메소드는 목록에서 특정 값을 찾아서 지우는데 사용할 수 있다. 다시 말해, remove()는 처음 일치하는 원소를 목록에서 제거한다. remove() 함수로 전달한 값과 하나 이상의 값이 일치하면, 처음 것이 제거될 것이다. remove()에 대한 다른 주의점은 제거된 값은 반환하지 않는다는 점이다. 

목록 메소드는 다음과 같다. 

* index	: 주어진 값과 일치하는, 목록 내의 첫 번째 값을 반환
* count	: 주어진 값과 동등한, 목록 내의 원소의 갯수를 반환
* sort : 목록 내에 포함된 원소를 정렬하여 그 목록을 반환
* reverse : 목록 내에 포함된 원소를 역순으로 배열하여 그 목록을 반환

In [ ]:
# append 메소드를 사용하여 목록에 값들을 추가
new_list=['a','b','c','d','e','f','g']
new_list.append('h')
print (new_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# 다른 목록을 기존 목록에 추가
new_list2=['h','i','j','k','l','m','n','o','p']
new_list.extend(new_list2)
print (new_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']

In [ ]:
# 인덱스를 통해 특정 위치에 값을 삽입.
# 이 예제에서는 'c'를 목록에서 3 번째 위치에 추가
# (목록의 인덱스는 0부터 시작하므로, 인덱스 2가 실제로는 세번째 자리를 가리킴을 기억하라)
new_list.insert(2,'c')
print (new_list)

['a', 'b', 'c', 'c', 'd', 'e', 'f', 'g', 'h', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']

In [ ]:
# 인덱스를 통해 특정한 위치로 목록을 삽입
another_list = ['a', 'b', 'c']
another_list.insert(2, new_list)
print(another_list)

['a', 'b', ['a', 'b', 'c', 'c', 'd', 'e', 'f', 'g', 'h', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p'], 'c']

In [ ]:
# 썰기 표기법을 사용하여 목록 또는 순서의 일부를 덮어씀
new_listA=[100,200,300,400]
new_listB=[500,600,700,800]
new_listA[0:2]=new_listB
print (new_listA)

[500, 600, 700, 800, 300, 400]

In [ ]:
# 빈 썰기 표기법을 사용하여 목록을 다른 목록에 할당
one = ['a', 'b', 'c', 'd']
two = ['e', 'f']

# 시작과 종료 위치를 동일하게 하여 목록으로부터 빈 조각을 만들어낸다.
# 시작과 끝 위치를 동일하게 쓰는 한, 어느 위치든 상관 없음.
one[2:2]

[]

In [ ]:
# 그 자체로는 별로 재미가 없다 - 빈 목록은 아주 쉽게 만들 수 있다.
# 이것에 대해 유용한 점은 이것을 빈 조각에 할당할 수 있다는 것이다.
# 이제, 'two' 목록을 'one'목록의 빈 조각에 할당함으로써 실제로는 'two' 목록을 'one' 목록에 삽입한다.
one[2:2] = two          # 'one' 목록의 원소 1과 2 사이를 'two' 목록으로 대체
print(one)

['a', 'b', 'e', 'f', 'c', 'd']

In [ ]:
# del 구문을 사용하여 값 또는 값의 범위를 목록으로부터 제거
# 모든 다른 원소가 이동하여 빈 공간을 채움에 유의
new_list3 = ['a','b','c','d','e','f']
del new_list3[2]
new_list3

['a', 'b', 'd', 'e', 'f']

In [ ]:
del new_list3[1:3]
new_list3

['a', 'e', 'f']

In [ ]:
# del 구문을 사용하여 목록을 제거
new_list3=[1,2,3,4,5]
print (new_list3)

[1, 2, 3, 4, 5]

In [ ]:
del new_list3
print (new_list3)

NameError: ignored

In [ ]:
# pop과 remove 함수를 사용하여 목록으로부터 값을 제거
print (new_list)

# 인덱스가 2인 원소를 pop
new_list.pop(2)

['a', 'b', 'c', 'c', 'd', 'e', 'f', 'g', 'h', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']

'c'

In [ ]:
print (new_list)

# 목록에서 처음으로 나타나는 'h' 문자를 제거
new_list.remove('h')
print (new_list)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']

## Tuple

* tuple은 목록과 상당히 비슷하지만, 차이점은 불변이라는 것이다. 일단 튜플이 정의되면, 그것은 바꿀 수가 없다. 목록과 마찬가지로 인덱스를 가지기는 하지만, 한번 정의하면 변경될 수가 없다. 
* 따라서, 튜플에 있는 인덱스는 특정한 값을 추출하기 위해 사용하는 것이지 할당이나 수정을 위한 것이 아니다. 튜플이 목록과 비슷하게 보일지라도, 튜플은 보통 이질적인 원소들을 포함한다는 점에서, 연관성 있는 방식으로 원소를 저장하는 목록에 비해 상당히 다르다.
* 예를 들어, 튜플의 일반적인 용례는 함수, 메소드 등에 매개변수를 전달하는 것이고, 튜플은 순서형에 속하기 때문에, 모든 순서형의 연산에 쓸 수 있는 몇몇 동일한 메소드를 사용할 수 있다.

In [ ]:
# 빈 튜플 생성
myTuple = {}

# 튜플 생성하고 사용하기
myTuple2 = (1, 'two', 3, 'four')
print(len(myTuple2))
myTuple2[2]

4

3

## Dictionaries

파이썬의 사전dictionary은 열쇠-값을 담는 그릇container이다. 사전은 주어진 원소에 대해 자동으로 채워지는 인덱스가 없으므로 파이썬의 전형적인 목록과는 상당히 다르다. 목록을 사용할 때는 어떠한 값에 대해 인덱스를 할당하는 것을 걱정할 필요가 없다. 사전은 개발자로 하여금 구조 내에 위치한 모든 원소에 대해 인덱스나 “열쇠”를 할당하도록 해준다. 그러므로, 사전에 들어가는 것은 열쇠와 원소를라는 두 값을 필요로 한다

사전이 아름다운 점은 개발자로 하여금 열쇠 값의 자료형을 선택할 수 있도록 해준다는 것이다. 따라서, 문자열 또는 그외의 정수나 부동소수점수 등의 해쉬 가능한 개체를 열쇠로 사용하는 것이 얼마든지 가능하다. 사전은 또한 사용하기에 좋도록 다수의 메소드와 연산을 가지고 있다. 표 2-5는 사전의 메소드와 함수를 나열한다.

In [ ]:
my_grb = {'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4)}
print(my_grb)
print(my_grb['ra'])
print(my_grb['dec'])

{'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4)}
(14, 29, 14.78)
(15, 46, 26.4)

dictionary에 item을 추가하거나 삭제할 수 있다.

In [ ]:
my_grb = {'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4)}

my_grb['url'] = 'http://gcn.gsfc.nasa.gov/other/130702A.gcn3'
print(my_grb)

del my_grb['name']
print(my_grb)

{'name': 'GRB 130702A', 'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4), 'url': 'http://gcn.gsfc.nasa.gov/other/130702A.gcn3'}
{'redshift': 0.145, 'ra': (14, 29, 14.78), 'dec': (15, 46, 26.4), 'url': 'http://gcn.gsfc.nasa.gov/other/130702A.gcn3'}

# 조건문 / 반복문

## 조건문

In Python, control flow statements such as conditionals and loops have blocks indicated with indentation. Any number
of spaces or tabs is fine, as long as you are consistent within a block. Four spaces is the recommended standard.
You can use the if...elif...else statement to have different bits of code run depending on the truth or falsehood of
boolean expressions. For example:

In [ ]:
x, y, z = 3, 3.14, 10-7
if (x != y):
    print('Different!')

Different!

In [ ]:
x, y, z = 3, 3.14, 10-7
if (x == y):
    print('Different!')
else :
    print('Same!')

Same!

In [ ]:
d = {'foo': 3, 'bar': 5, 'bat': 9}
if 'foo' in d:
   print ('the key "foo" is in the dictionary')

the key "foo" is in the dictionary

##반복문

* Python에는 두 종류의 반복문이 있다. 하나는 for 문이고, 다른 하나는 while 문이다.
* for loop은 다음과 같은 모음 (tuple, set, list, dictionary, or string)들을 이용하여 반복할 수 있다.

In [ ]:
for i in [0, 1, 2, 3]:
  print (i**2)

0
1
4
9

In [ ]:
range(4, 10)

range(4, 10)

In [ ]:
for i in range(2001, 2020):
  print (i**2)

4004001
4008004
4012009
4016016
4020025
4024036
4028049
4032064
4036081
4040100
4044121
4048144
4052169
4056196
4060225
4064256
4068289
4072324
4076361

In [ ]:
for i in range(-2, 4):
  print (i**2)

4
1
0
1
4
9

In [ ]:
d = {'foo': 3, 'bar': 5, 'bat': 9}
for key, val in d.items():
  print (key, '...', val**3)

foo ... 27
bar ... 125
bat ... 729

In [ ]:
import numpy as np

L  = np.arange(0, 10, 1) # numpy array with elements (0, 10) with interval 1
L1 = np.ones((10))  # 10 by 1 sized numpy array, filled with 1

for i in range(0,10):
    if (L[i] == 9):
        print("\t'Oh it's NEIN!'")
        continue
    print(L[i], end=' ') # option "end" sets the ending part for each print; test many cases by yourself!
    print(L[i]==L1[i], end=' ')

0 False 1 True 2 False 3 False 4 False 5 False 6 False 7 False 8 False 	'Oh it's NEIN!'

* while loop는 다음과 같이 조건문과 비슷한 형태로 사용할 수 있다.

In [ ]:
a = 1
while a < 5:
  a = a * 2
  print (a)

2
4
8

In [ ]:
L1 = np.ones((10))  # 10 by 1 sized numpy array, filled with 1
j = 0
while (1):  # identical to while(True)
    print(j, L1[j])
    j += 1
    if(j==5):
        print("j reached 5")
        break

0 1.0
1 1.0
2 1.0
3 1.0
4 1.0
j reached 5

# Functions

Functions are created with the def statement. A function may either have or not have a return statement to send back a return value.

In [ ]:
def square(n):
  return n * n
a = square(3)
print (a)

9

In [ ]:
def powers(n):
  return n**2, n**3
print (powers(3))

If you pass a mutable value such as a list to a function, then the function may modify that value. For example, you might implement the Fibonacci sequence like this:

In [ ]:
def fibonacci(seed, n):
  while len(seed) < n:
    seed.append(seed[-1] + seed[-2])
# Note: no return statement
seed = [1, 1]
fibonacci(seed, 10)
print (seed)

# Error handling

It can be important for your code to be able to handle error conditions. For example, let's say that you are
implementing a sinc function:

In [ ]:
import math
def sinc(x):
  return math.sin(x) / x
print (sinc(0))

In [ ]:
def sinc(x):
    try:
        result = math.sin(x) / x
    except ZeroDivisionError:
        result = 1
    return result
print (sinc(0))

# Reading and writing files

The built-in open function opens a file and returns a file object that you can use to read or write data. Here's an example of writing data to a file:

In [ ]:
myfile = open('myfile.txt', 'w') # open file for writing
myfile.write("red 1\n")
myfile.write("green 2\n")
myfile.write("blue 3\n")
myfile.close()